<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      const ROOM_ID = "<%=roomId %>";
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic tac toe</title>
  </head>
  <body>
    <h1>ROOM_ID</h1>
  </body>
</html>
